.testimotionals {
  background-color: red;
  gap: 8px;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px #334155;
  width: 100%;
}
.card .layer {
  z-index: 1;
  position: absolute;
  top: calc(100% - 0.1px);
  height: 100%;
  width: 100%;
  left: 0;
  background: linear-gradient(to left, orange, tomato);
  transition: 0.5s;
}

.content {
  z-index: 2;
  position: relative;
}

.card:hover .layer {
  top: 0;
}

.content p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
